<div class="container lpage min-vh-100 bg-theme d-flex flex-column align-items-center justify-content-start">
<div class=" d-flex align-items-center justify-content-center ">
   <span class="text-white display-1 lead fs-1"> OOPS</span>
    <img width=400px src="https://cdn.jsdelivr.net/gh/ahmedhosna95/upload@1731955f/sad404.svg" alt="404">
</div>
<h1 class="p-1 lead fs-1 text-danger"><%= errorMessage %></h1>
</div>