<div class="container p-3 form-box w-50 mx-auto rounded my-5">
    <h2>Login</h2>
    <form action="/login" method="post">
        <div class="mb-3">
            <div class="input-group">
                <span class="input-group-text" id="email">email</span>
                <input type="email" class="form-control" placeholder="enter your email" name="email" required>
              </div>
        </div>
        <div class="mb-3">
            <div class="input-group">
                <span class="input-group-text" id="password">password</span>
                <input type="password" class="form-control" placeholder="enter your password" name="password" required>
              </div>
        </div>
        
        <button type="submit" class="btn btn-md lbtn">login</button>
      </form>
</div>
